@media only screen and (max-width: 720px) {
    body,html {
        margin: 0;
        font-size: clamp(0.5em, 0.5em + 1vw, 1em);
        color: #777;
        height: 100%;
        width: 100%;
        background: url(../assets/img/fundo-azul.jpg);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    /*Cabeçalho
-------------------------------*/
    header.cabecalho {
        width: 230%;
        justify-content: center;
        background: no-repeat center top fixed;
        background-size: 100%;
        height: 100vw;
        background-image: url('https://camo.githubusercontent.com/0850a9b90bf720b08cafe764aea52d8cf2cc7048d4f8080297e8988b76bb08b8/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f7375706572666f6c696f2f696d6167652f75706c6f61642f76313632303638393937392f36383734373437303733336132663266363932653730363936653639366436373265363336663664326636663732363936373639366536313663373332663633333632663333333332663633333232663633333633333333363333323330363536343635333833323636333036353330363336353634333736343335333733303634363236353333363133313636333332653637363936365f796a756832732e676966');
    }header.cabecalho div.conteudo-titulo {
        display: flex;
        width: 78%;
        height: 50%;
        justify-content: center;
    }   
    header.cabecalho div.conteudo-titulo span.titulo{
        padding: 8px;
        font-size: 12px;
        border-radius: 30px;
    }
    /*Conteúdo About
    -------------------------------*/
    section.conteudo-about {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        flex-direction: column;
        display: flex;
        background: url(../assets/img/fundo-azul.jpg) no-repeat center center;
    }
    section.conteudo-about span.about-titulo {
        display: flex;
        width: 26%;
        margin: 0 0 0 100%;
    }
    .grafico-sobre {
        display: flex;
        margin: 0 112%;
        justify-content: center;
        position: relative;
        top: -300px;
    }
    section.conteudo-about div.about-text {
        margin: 0 100%;
        display: flex;
        justify-content: center;
        float: left;
        font-size: clamp(0.5em, 0.5em + 1vw, 1em);
        width: 100%;
        position: relative;
        top: -320px;
    }
    section.conteudo-about div.about-img{
        float: right;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 0;
        display: flex;
    }
    section.conteudo-about div.about-img img.img{
        float: right;
        width: 70%;
        height: 70%;
        padding: 0;
        margin: 10% 20%;
        display: flex;
    }
    /*Área Portfólio
    -------------------------------*/
    main.conteudo-portfolio {
        margin-top: 8%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 20%;
        margin-bottom: 20px;
    }
    main.conteudo-portfolio span.portfolio-descricao{
        color: white;
        display: flex;
        justify-content: center;
        margin: 20px 0 0 70%;
        width: 100%;
        word-wrap: break-word;
    }
    main.conteudo-portfolio span.portfolio-titulo {
        display: flex;
        width: 40%;
        margin: 0 0 0 90%;
    }
    main.conteudo-portfolio > div.conteudo-projetos {
        margin: 40px 32%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    span.projeto-1{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    span.projeto-1 img{
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    span.projeto-1 a p{
        font-size: 15px;
        display: flex;
        transition: .2s ease-in-out;
        justify-content: center;
        margin: 10px 40%;
        width: 100%;
        text-align-last: center;
    }
    /*Conteudo Contato
    -------------------------------*/
    section.conteudo-contato {
        margin-top: 80px;
        margin-bottom: 40px;
        width: 100%;
        height: 40%;
        background: linear-gradient(140deg, #1b1d7577, #0c0ea500);
    }
    section.conteudo-contato span.titulo-contato {
        display: flex;
        width: 40%;
        margin: 10px 0 0 90%;
    }
    section.conteudo-contato div.itens-contato {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        margin: 10% 0 0 60%;
    }
    section.conteudo-contato div.itens-contato div.email-contato, div.wpp-contato, div.local-contato {
        margin: 0 6% 0 12%;
    }
    /*Footer
    -------------------------------*/
    footer.conteudo-footer {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}